.languages {
  &__list {
    &--mobile {
      .languages__focus-content {
        padding: 10px 15px;
      }
    }
  }

  &__focus-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;

    padding-top: 2px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
