@font-face {
  font-family: "StretchSans";
  src: url("/assets/fonts/StretchSans.ttf"), url("/assets/fonts/StretchSans.otf"), url("/assets/fonts/StretchSans.svg") format("svg");
  font-style: normal;
  font-variant-ligatures: common-ligatures;
  font-weight: 500;
}
