@font-face {
  font-family: "StretchSans";
  src: url("../assets/fonts/StretchSans.ttf"), url("fonts/EntezareZohoor2.otf"), url("fonts/EntezareZohoor2.svg") format("svg");
  font-style: normal;
  font-variant-ligatures: common-ligatures;
  font-weight: 500;
}
