@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./fonts.scss";
@import "./utils.scss";

body {
  position: relative;
  margin: 0 auto;
  // padding: 30px 40px;

  min-height: 100vh;

  min-width: 700px;
  max-width: 1280px;
  @media screen and (max-device-width: 700px) {
    overflow-x: scroll;
  }
}

#root {
  padding: 30px 40px;
  min-height: inherit;
}

:root,
* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  display: inline;
}

button {
  padding: 0;
  border: 0;
  background-color: black;
  color: white;

  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
    box-shadow: none;
    transform: translateY(2px);
  }
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
