.home-window {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: space-between;
  gap: 35px;

  .languages__list {
    flex: 1.85;
  }

  .home-window__right-bar {
    flex: 1.15;
  }

  &__right-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.focus-bg {
  display: none;
  cursor: default;
  user-select: none;
  z-index: 7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(2px);

  &--active {
    display: block;
  }
}
