.home-window {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: space-between;
  gap: 35px;

  .languages__list {
    flex: 1.85;
  }

  .home-window__right-bar {
    flex: 1.15;
  }

  &__right-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
